{
  "openapi": "3.0.1",
  "info": {
    "title": "Agni API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://development.ravan.ai"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/api/v1/agents": {
      "post": {
        "summary": "Create Agent",
        "description": "Create Agent",
        "operationId": "postApiVAgents",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Agent created successfully",
                    "data": {
                      "id": 101,
                      "organization_id": "org_9f2k1",
                      "name": "Support line",
                      "agent_name": "Ava",
                      "status": "AGENT_STATUS_ACTIVE",
                      "created_at": "2026-03-06T06:22:11Z",
                      "updated_at": "2026-03-06T06:22:11Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'organization_id' is required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Unauthorized: Invalid API Key"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["organization_id", "name", "agent_name", "model", "voice_id"],
                "properties": {
                  "organization_id": { "type": "string", "description": "The unique identifier of the organization." },
                  "widget_settings_id": { "type": "integer", "description": "ID of associated widget settings." },
                  "name": { "type": "string", "description": "Internal name for the agent." },
                  "agent_name": { "type": "string", "description": "The name that will be shown or spoken to users." },
                  "model": { "type": "string", "description": "The language model to use (e.g., gpt-4.1-mini)." },
                  "voice_id": { "type": "string", "description": "The voice ID for the agent." },
                  "temperature": { "type": "number", "description": "Sampling temperature (0–1)." },
                  "enable_voicemail_detection": { "type": "boolean", "description": "Enable voicemail detection." },
                  "start_speaker": { "type": "string", "description": "Who speaks first: agent or user." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const agentResponse = await client.agent.create({\n    organization_id: \"org_9f2k1\",\n    widget_settings_id: 12,\n    name: \"Support line\",\n    agent_name: \"Ava\",\n    model: \"gpt-4.1-mini\",\n    voice_id: \"alloy\",\n    temperature: 0.4,\n    enable_voicemail_detection: true,\n    ivr_options: {\n      \"1\": \"sales\",\n      \"2\": \"support\"\n    },\n    selected_tools: {\n      \"crm_lookup\": true\n    },\n    start_speaker: \"agent\"\n  });\n\n  console.log(agentResponse.id);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/agents\" \\\n    -H \"X-Api-Key: <token> \" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"organization_id\": \"org_9f2k1\",\n      \"widget_settings_id\": 12,\n      \"name\": \"Support line\",\n      \"agent_name\": \"Ava\",\n      \"model\": \"gpt-4.1-mini\",\n      \"voice_id\": \"alloy\",\n      \"temperature\": 0.4,\n      \"enable_voicemail_detection\": true,\n      \"ivr_options\": {\n        \"1\": \"sales\",\n        \"2\": \"support\"\n      },\n      \"selected_tools\": {\n        \"crm_lookup\": true\n      },\n      \"start_speaker\": \"agent\"\n    }'"
          }
        ]
      },
      "get": {
        "summary": "List Agents",
        "description": "List Agents",
        "operationId": "getApiVAgents",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Agents fetched successfully",
                    "data": [
                      {
                        "id": 101,
                        "organization_id": "org_9f2k1",
                        "name": "Support line",
                        "agent_name": "Ava",
                        "status": "AGENT_STATUS_ACTIVE"
                      }
                    ],
                    "meta": {
                      "total": 1,
                      "limit": 20,
                      "offset": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'organization_id' is required"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const agents = await client.agent.list({\n    organization_id: \"org_9f2k1\",\n    offset: 0,\n    limit: 20\n  });\n\n  console.log(agents.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/agents?organization_id=org_9f2k1&limit=20&offset=0\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/agents/{id}": {
      "delete": {
        "summary": "Delete Agent",
        "description": "Delete Agent",
        "operationId": "deleteApiVAgentsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Agent id."
          }
        ],
        "responses": {
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Agent '101' does not exist"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  await client.agent.delete(\"101\", {\n    organization_id: \"org_9f2k1\"\n  });\n\n  // Returns void on successful deletion"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE \"https://development.ravan.ai/api/v1/agents/101?organization_id=org_9f2k1\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "get": {
        "summary": "Get Agent",
        "description": "Get Agent",
        "operationId": "getApiVAgentsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Agent fetched successfully",
                    "data": {
                      "id": 101,
                      "organization_id": "org_9f2k1",
                      "name": "Support line",
                      "agent_name": "Ava",
                      "status": "AGENT_STATUS_ACTIVE",
                      "model": "gpt-4.1-mini",
                      "created_at": "2026-03-06T06:22:11Z",
                      "updated_at": "2026-03-06T08:10:44Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Agent '101' does not exist"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const agent = await client.agent.get(\"101\", {\n    organization_id: \"org_9f2k1\"\n  });\n\n  console.log(agent.name);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/agents/101?organization_id=org_9f2k1\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "patch": {
        "summary": "Update Agent",
        "description": "Update Agent",
        "operationId": "patchApiVAgentsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Agent id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Agent updated successfully",
                    "data": {
                      "id": 101,
                      "organization_id": "org_9f2k1",
                      "name": "Support line - EN",
                      "status": "AGENT_STATUS_ACTIVE",
                      "updated_at": "2026-03-06T09:01:03Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Agent '101' does not exist"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Internal name for the agent." },
                  "agent_name": { "type": "string", "description": "The name that will be shown or spoken to users." },
                  "model": { "type": "string", "description": "The language model to use." },
                  "voice_id": { "type": "string", "description": "The voice ID for the agent." },
                  "temperature": { "type": "number", "description": "Sampling temperature (0–1)." },
                  "enable_voicemail_detection": { "type": "boolean", "description": "Enable voicemail detection." },
                  "analysis_summary_prompt": { "type": "string", "description": "Prompt for post-call analysis summary." },
                  "start_speaker": { "type": "string", "description": "Who speaks first: agent or user." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const agentResponse = await client.agent.update(\"101\", {\n    organization_id: \"org_9f2k1\",\n    name: \"Support line - EN\",\n    temperature: 0.35,\n    enable_voicemail_detection: true,\n    analysis_summary_prompt: \"Summarize blockers and follow-ups.\",\n    start_speaker: \"agent\"\n  });\n\n  console.log(agentResponse.updated_at);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \"https://development.ravan.ai/api/v1/agents/101\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"organization_id\": \"org_9f2k1\",\n      \"name\": \"Support line - EN\",\n      \"temperature\": 0.35,\n      \"enable_voicemail_detection\": true,\n      \"analysis_summary_prompt\": \"Summarize blockers and follow-ups.\",\n      \"start_speaker\": \"agent\"\n    }'"
          }
        ]
      }
    },
    "/api/v1/agents/{id}/status": {
      "patch": {
        "summary": "Update Agent Status",
        "description": "Update Agent Status",
        "operationId": "patchApiVAgentsidStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Agent id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Agent status updated successfully",
                    "data": {
                      "id": 101,
                      "organization_id": "org_9f2k1",
                      "status": "AGENT_STATUS_INACTIVE"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Agent '101' does not exist"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": { "type": "string", "description": "New agent status (e.g. AGENT_STATUS_INACTIVE, AGENT_STATUS_ACTIVE)." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const agentResponse = await client.agent.updateStatus(\"101\", {\n    organization_id: \"org_9f2k1\",\n    status: \"AGENT_STATUS_INACTIVE\"\n  });\n\n  console.log(agentResponse.status);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \"https://development.ravan.ai/api/v1/agents/101/status\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"organization_id\": \"org_9f2k1\",\n      \"status\": \"AGENT_STATUS_INACTIVE\"\n    }'"
          }
        ]
      }
    },
    "/api/v1/phone-numbers/buy": {
      "post": {
        "summary": "Buy Phone Number",
        "description": "Buy Phone Number",
        "operationId": "postApiVPhonenumbersBuy",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Phone number purchased successfully",
                    "data": {
                      "phone_number": "+14155552671",
                      "price": 1,
                      "status": "active",
                      "purchased_at": "2026-03-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'phone_number' format invalid"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Pricing Error: 'price' exceeds expected limit"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phone_number", "price"],
                "properties": {
                  "phone_number": { "type": "string", "description": "Phone number to purchase (E.164 format, e.g. +14155552671)." },
                  "price": { "type": "number", "description": "Expected price of the number." },
                  "per_minute_price_inbound": { "type": "number", "description": "Per-minute cost for inbound calls." },
                  "per_minute_price_outbound": { "type": "number", "description": "Per-minute cost for outbound calls." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const numberResponse = await client.phoneNumber.buy({\n    phone_number: \"+14155552671\",\n    price: 1.0,\n    per_minute_price_inbound: 1,\n    per_minute_price_outbound: 2\n  });\n\n  console.log(numberResponse.phone_number);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/phone-numbers/buy\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"phone_number\": \"+14155552671\",\n      \"price\": 1.0,\n      \"per_minute_price_inbound\": 1,\n      \"per_minute_price_outbound\": 2\n    }'"
          }
        ]
      }
    },
    "/api/v1/create/telephony": {
      "post": {
        "summary": "Create Telephony Type",
        "description": "Create Telephony Type",
        "operationId": "postApiVCreateTelephony",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Telephony type configured successfully",
                    "data": {
                      "id": "tel_config_8x9",
                      "type": "twilio",
                      "owner_type": "organization",
                      "friendly_name": "My Twilio Account",
                      "status": "verified",
                      "created_at": "2026-03-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'client_id' and 'client_secret' are required for Twilio."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "owner_type", "client_id", "client_secret"],
                "properties": {
                  "type": { "type": "string", "description": "Telephony provider type (e.g. twilio)." },
                  "owner_type": { "type": "string", "description": "Owner type (e.g. organization)." },
                  "friendly_name": { "type": "string", "description": "Human-readable name for this telephony config." },
                  "client_id": { "type": "string", "description": "Provider account SID / client ID." },
                  "client_secret": { "type": "string", "description": "Provider auth token / client secret." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const config = await client.telephony.createProvider({\n    type: \"twilio\",\n    owner_type: \"organization\",\n    friendly_name: \"My Twilio Account\",\n    client_id: \"ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\n    client_secret: \"your_auth_token_here\"\n  });\n\n  console.log(config.id);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/create/telephony\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"type\": \"twilio\",\n      \"owner_type\": \"organization\",\n      \"friendly_name\": \"My Twilio Account\",\n      \"client_id\": \"ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\n      \"client_secret\": \"your_auth_token_here\"\n    }'"
          }
        ]
      }
    },
    "/api/v1/phone-numbers/import": {
      "post": {
        "summary": "Import Phone Number",
        "description": "Import Phone Number",
        "operationId": "postApiVPhonenumbersImport",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Phone number imported successfully",
                    "data": {
                      "id": "imp_9f4k",
                      "phone": "+14155552671",
                      "type": "sip",
                      "name": "Main SIP Trunk",
                      "termination_uri": "sip:14155552671@sip.example.com",
                      "sip_username": "admin",
                      "status": "active",
                      "created_at": "2026-03-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'termination_uri' is invalid"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phone", "type", "termination_uri"],
                "properties": {
                  "phone": { "type": "string", "description": "Phone number (E.164 format)." },
                  "type": { "type": "string", "description": "Import type (e.g. sip)." },
                  "name": { "type": "string", "description": "Friendly name for this number." },
                  "termination_uri": { "type": "string", "description": "SIP termination URI." },
                  "sip_username": { "type": "string", "description": "SIP username." },
                  "sip_password": { "type": "string", "description": "SIP password." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const importedNumber = await client.telephony.importNumber({\n    phone: \"+14155552671\",\n    type: \"sip\",\n    name: \"Main SIP Trunk\",\n    termination_uri: \"sip:14155552671@sip.example.com\",\n    sip_username: \"admin\",\n    sip_password: \"secr3t\"\n  });\n\n  console.log(importedNumber.status);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/phone-numbers/import\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"phone\": \"+14155552671\",\n      \"type\": \"sip\",\n      \"name\": \"Main SIP Trunk\",\n      \"termination_uri\": \"sip:14155552671@sip.example.com\",\n      \"sip_username\": \"admin\",\n      \"sip_password\": \"secr3t\"\n    }'"
          }
        ]
      }
    },
    "/api/v1/available-numbers/{iso_country}": {
      "get": {
        "summary": "List Available Numbers",
        "description": "List Available Numbers",
        "operationId": "getApiVAvailablenumbersisocountry",
        "parameters": [
          {
            "name": "iso_country",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ISO country code (e.g. US)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Available numbers fetched successfully",
                    "data": [
                      {
                        "iso_country": "US",
                        "phone_number": "+14155552671",
                        "price": 100,
                        "per_minute_price_outbound": 2,
                        "per_minute_price_inbound": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: Unsupported 'iso_country' code"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const availableNumbers = await client.telephony.listAvailableNumbers(\"US\", {\n    page_size: 10,\n    region: \"CA\"\n  });\n\n  console.log(availableNumbers.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/available-numbers/US?page_size=10&region=CA\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/list-phone-numbers": {
      "get": {
        "summary": "List Purchased Numbers",
        "description": "List Purchased Numbers",
        "operationId": "getApiVListphonenumbers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Purchased numbers fetched successfully",
                    "data": [
                      {
                        "id": "num_289x",
                        "telephonyId": "tel_abc",
                        "subscriptionId": "sub_def",
                        "inboundTrunkId": "trnk_in_1",
                        "outboundTrunkId": "trnk_out_1",
                        "number": "+14155552671",
                        "friendlyName": "Main Support Line",
                        "perMinutePriceInbound": 1,
                        "perMinutePriceOutbound": 2,
                        "price": 100,
                        "region": "CA",
                        "isoCountry": "US",
                        "isActive": true,
                        "createdAt": "2026-03-06T12:00:00Z",
                        "updatedAt": "2026-03-06T12:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const numbers = await client.telephony.listPurchasedNumbers({\n    iso_country: \"US\",\n    is_active: true\n  });\n\n  console.log(numbers.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/list-phone-numbers?iso_country=US&is_active=true\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/twilio-owned-numbers": {
      "get": {
        "summary": "List Twilio Owned Numbers",
        "description": "List Twilio Owned Numbers",
        "operationId": "getApiVTwilioownednumbers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Twilio-owned numbers fetched successfully",
                    "data": [
                      {
                        "sid": "PNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
                        "phone_number": "+14155552671",
                        "friendly_name": "Main Support Line",
                        "status": "in-use",
                        "date_created": "2026-03-01T12:00:00Z",
                        "voice": true,
                        "sms": false,
                        "mms": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const numbers = await client.telephony.listTwilioNumbers();\n  console.log(numbers.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/twilio-owned-numbers\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/phone-numbers/{phone_number}/release": {
      "delete": {
        "summary": "Release Phone Number",
        "description": "Release Phone Number",
        "operationId": "deleteApiVPhonenumbersphonenumberRelease",
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Phone number to release (e.g. +14155552671)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Phone number released successfully",
                    "data": {
                      "phone_number": "+14155552671",
                      "status": "released",
                      "released_at": "2026-03-06T12:05:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: The specified phone number does not exist or does not belong to your organization."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const call = await client.telephony.releaseNumber(\"+14155552671\");\n  console.log(call.status);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE \"https://development.ravan.ai/api/v1/phone-numbers/+14155552671/release\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/tools": {
      "post": {
        "summary": "Create Agent Tool",
        "description": "Create Agent Tool",
        "operationId": "postApiVTools",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Tool created successfully",
                    "data": {
                      "id": 21,
                      "organization_id": "org_9f2k1",
                      "name": "crm_lookup",
                      "description": "Fetch customer profile from CRM",
                      "type": "http",
                      "definition": {
                        "url": "https://api.example.com/customers/{phone}",
                        "method": "GET"
                      },
                      "is_active": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'name' must be alphanumeric"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const toolResponse = await client.tool.create({\n    organization_id: \"org_9f2k1\",\n    name: \"crm_lookup\",\n    description: \"Fetch customer profile from CRM\",\n    type: \"http\",\n    definition: {\n      url: \"https://api.example.com/customers/{phone}\",\n      method: \"GET\"\n    }\n  });\n\n  console.log(toolResponse.id);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/tools\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"organization_id\": \"org_9f2k1\",\n      \"name\": \"crm_lookup\",\n      \"description\": \"Fetch customer profile from CRM\",\n      \"type\": \"http\",\n      \"definition\": {\n        \"url\": \"https://api.example.com/customers/{phone}\",\n        \"method\": \"GET\"\n      }\n    }'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "description": "Organization id."
                  },
                  "name": {
                    "type": "string",
                    "description": "Tool name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Tool description."
                  },
                  "type": {
                    "type": "string",
                    "description": "Tool type."
                  },
                  "definition": {
                    "type": "object",
                    "description": "Tool configuration payload."
                  }
                },
                "required": [
                  "organization_id",
                  "name",
                  "type",
                  "definition"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Agent Tools",
        "description": "List Agent Tools",
        "operationId": "getApiVTools",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max records to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Records to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Tools fetched successfully",
                    "data": [
                      {
                        "id": 21,
                        "organization_id": "org_9f2k1",
                        "name": "crm_lookup",
                        "description": "Fetch customer profile from CRM",
                        "type": "http",
                        "definition": {
                          "url": "https://api.example.com/customers/{phone}",
                          "method": "GET"
                        },
                        "is_active": true
                      }
                    ],
                    "meta": {
                      "total": 1,
                      "limit": 20,
                      "offset": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'organization_id' is required"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const tools = await client.tool.list({\n    organization_id: \"org_9f2k1\",\n    offset: 0,\n    limit: 20\n  });\n\n  console.log(tools.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/tools?organization_id=org_9f2k1&limit=20&offset=0\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/tools/{id}": {
      "delete": {
        "summary": "Delete Agent Tool",
        "description": "Delete Agent Tool",
        "operationId": "deleteApiVToolsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tool id."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id."
          }
        ],
        "responses": {
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Tool '21' does not exist"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  await client.tool.delete(\"21\", {\n    organization_id: \"org_9f2k1\"\n  });\n\n  // Returns void on successful deletion"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE \"https://development.ravan.ai/api/v1/tools/21?organization_id=org_9f2k1\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "get": {
        "summary": "Get Agent Tool",
        "description": "Get Agent Tool",
        "operationId": "getApiVToolsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tool id."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Tool fetched successfully",
                    "data": {
                      "id": 21,
                      "organization_id": "org_9f2k1",
                      "name": "crm_lookup",
                      "description": "Fetch customer profile from CRM",
                      "type": "http",
                      "definition": {
                        "url": "https://api.example.com/customers/{phone}",
                        "method": "GET"
                      },
                      "is_active": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Tool '21' does not exist"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const tool = await client.tool.get(\"21\", {\n    organization_id: \"org_9f2k1\"\n  });\n\n  console.log(tool.name);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/tools/21?organization_id=org_9f2k1\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "patch": {
        "summary": "Update Agent Tool",
        "description": "Update Agent Tool",
        "operationId": "patchApiVToolsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tool id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Tool updated successfully",
                    "data": {
                      "id": 21,
                      "organization_id": "org_9f2k1",
                      "name": "crm_lookup",
                      "description": "Fetch and summarize customer profile",
                      "type": "http",
                      "is_active": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Tool '21' does not exist"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const toolResponse = await client.tool.update(\"21\", {\n    organization_id: \"org_9f2k1\",\n    name: \"crm_lookup\",\n    description: \"Fetch and summarize customer profile\",\n    type: \"http\",\n    definition: {\n      \"url\": \"https://api.example.com/customers/{phone}\",\n      \"method\": \"GET\",\n      \"timeout_ms\": 2000\n    }\n  });\n\n  console.log(toolResponse.name);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \"https://development.ravan.ai/api/v1/tools/21\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"organization_id\": \"org_9f2k1\",\n      \"name\": \"crm_lookup\",\n      \"description\": \"Fetch and summarize customer profile\",\n      \"type\": \"http\",\n      \"definition\": {\n        \"url\": \"https://api.example.com/customers/{phone}\",\n        \"method\": \"GET\",\n        \"timeout_ms\": 2000\n      }\n    }'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "description": "Organization id."
                  },
                  "name": {
                    "type": "string",
                    "description": "Tool name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Tool description."
                  },
                  "type": {
                    "type": "string",
                    "description": "Tool type."
                  },
                  "definition": {
                    "type": "object",
                    "description": "Tool configuration payload."
                  }
                },
                "required": [
                  "organization_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/widget-settings": {
      "post": {
        "summary": "Create Widget Settings",
        "description": "Create Widget Settings",
        "operationId": "postApiVWidgetsettings",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Widget settings created successfully",
                    "data": {
                      "id": 12,
                      "bot_name": "Ava",
                      "bot_auto_start": true,
                      "bot_position": "BOT_POSITION_BOTTOM_RIGHT",
                      "language": "en",
                      "is_active": true,
                      "created_at": "2026-03-06T06:40:00Z",
                      "updated_at": "2026-03-06T06:40:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Validation Error: 'bot_position' must be a valid BOT_POSITION enum"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bot_name": { "type": "string", "description": "Display name of the bot." },
                  "bot_auto_start": { "type": "boolean", "description": "Whether the bot starts automatically." },
                  "bot_position": { "type": "string", "description": "Widget position (e.g. BOT_POSITION_BOTTOM_RIGHT)." },
                  "bot_logo": { "type": "string", "description": "URL to the bot logo image." },
                  "language": { "type": "string", "description": "Widget language code (e.g. en)." },
                  "consent_title": { "type": "string", "description": "Title for the consent dialog." },
                  "consent_content": { "type": "string", "description": "Body text for the consent dialog." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const widgetConfig = await client.widget.create({\n    bot_name: \"Ava\",\n    bot_auto_start: true,\n    bot_position: \"BOT_POSITION_BOTTOM_RIGHT\",\n    bot_logo: \"https://cdn.ravan.ai/bot-logo.svg\",\n    custom_form_fields: {\n      \"company\": {\n        \"type\": \"text\",\n        \"required\": true\n      }\n    },\n    theme: {\n      \"primary\": \"#16A34A\"\n    },\n    language: \"en\",\n    consent_content: \"By continuing, you agree to recording.\",\n    consent_title: \"Consent\"\n  });\n\n  console.log(widgetConfig.id);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://development.ravan.ai/api/v1/widget-settings\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"bot_name\": \"Ava\",\n      \"bot_auto_start\": true,\n      \"bot_position\": \"BOT_POSITION_BOTTOM_RIGHT\",\n      \"bot_logo\": \"https://cdn.ravan.ai/bot-logo.svg\",\n      \"custom_form_fields\": {\n        \"company\": {\n          \"type\": \"text\",\n          \"required\": true\n        }\n      },\n      \"theme\": {\n        \"primary\": \"#16A34A\"\n      },\n      \"language\": \"en\",\n      \"consent_content\": \"By continuing, you agree to recording.\",\n      \"consent_title\": \"Consent\"\n    }'"
          }
        ]
      },
      "get": {
        "summary": "List Widget Settings",
        "description": "List Widget Settings",
        "operationId": "getApiVWidgetsettings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Widget settings fetched successfully",
                    "data": [
                      {
                        "id": 12,
                        "bot_name": "Ava",
                        "bot_auto_start": true,
                        "bot_position": "BOT_POSITION_BOTTOM_RIGHT",
                        "language": "en",
                        "is_active": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const widgetSettings = await client.widget.list();\n  console.log(widgetSettings.data);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/widget-settings\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      }
    },
    "/api/v1/widget-settings/{id}": {
      "delete": {
        "summary": "Deactivate Widget Settings",
        "description": "Deactivate Widget Settings",
        "operationId": "deleteApiVWidgetsettingsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Widget settings id."
          }
        ],
        "responses": {
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Widget settings '12' not found"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  await client.widget.delete(\"12\");\n\n  // Returns void on successful deletion"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE \"https://development.ravan.ai/api/v1/widget-settings/12\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "get": {
        "summary": "Get Widget Settings",
        "description": "Get Widget Settings",
        "operationId": "getApiVWidgetsettingsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Widget settings id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Widget settings fetched successfully",
                    "data": {
                      "id": 12,
                      "bot_name": "Ava",
                      "bot_auto_start": true,
                      "bot_position": "BOT_POSITION_BOTTOM_RIGHT",
                      "language": "en",
                      "is_active": true,
                      "created_at": "2026-03-05T12:00:00Z",
                      "updated_at": "2026-03-06T08:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Widget settings '12' not found"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const widgetConfig = await client.widget.get(\"12\");\n  console.log(widgetConfig.bot_name);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \"https://development.ravan.ai/api/v1/widget-settings/12\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\""
          }
        ]
      },
      "patch": {
        "summary": "Update Widget Settings",
        "description": "Update Widget Settings",
        "operationId": "patchApiVWidgetsettingsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Widget settings id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Widget settings updated successfully",
                    "data": {
                      "id": 12,
                      "bot_name": "Ava Support",
                      "bot_auto_start": false,
                      "bot_position": "BOT_POSITION_BOTTOM_LEFT",
                      "language": "en",
                      "is_active": true,
                      "updated_at": "2026-03-06T09:20:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "Not Found: Widget settings '12' not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bot_name": { "type": "string", "description": "Display name of the bot." },
                  "bot_auto_start": { "type": "boolean", "description": "Whether the bot starts automatically." },
                  "bot_position": { "type": "string", "description": "Widget position (e.g. BOT_POSITION_BOTTOM_LEFT)." },
                  "bot_logo": { "type": "string", "description": "URL to the bot logo image." },
                  "language": { "type": "string", "description": "Widget language code (e.g. en)." }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import Agni from 'agni-sdk';\n\n  const client = new Agni({\n    apiKey: 'YOUR_AGNI_API_KEY',\n  });\n\n  const widgetConfig = await client.widget.update(\"12\", {\n    bot_name: \"Ava Support\",\n    bot_auto_start: false,\n    bot_position: \"BOT_POSITION_BOTTOM_LEFT\",\n    bot_logo: \"https://cdn.ravan.ai/bot-logo-v2.svg\",\n    custom_form_fields: {\n      \"company\": {\n        \"type\": \"text\",\n        \"required\": true\n      },\n      \"email\": {\n        \"type\": \"email\",\n        \"required\": true\n      }\n    },\n    theme: {\n      \"primary\": \"#15803D\"\n    },\n    language: \"en\"\n  });\n\n  console.log(widgetConfig.updated_at);"
          },
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \"https://development.ravan.ai/api/v1/widget-settings/12\" \\\n    -H \"X-Api-Key: <token>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n      \"bot_name\": \"Ava Support\",\n      \"bot_auto_start\": false,\n      \"bot_position\": \"BOT_POSITION_BOTTOM_LEFT\",\n      \"bot_logo\": \"https://cdn.ravan.ai/bot-logo-v2.svg\",\n      \"custom_form_fields\": {\n        \"company\": {\n          \"type\": \"text\",\n          \"required\": true\n        },\n        \"email\": {\n          \"type\": \"email\",\n          \"required\": true\n        }\n      },\n      \"theme\": {\n        \"primary\": \"#15803D\"\n      },\n      \"language\": \"en\"\n    }'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  }
}