{
  "openapi": "3.0.1",
  "info": {
    "title": "Agni API",
    "version": "1.0.0",
    "description": "Agni API for managing agents, tools, widget settings, and telephony."
  },
  "servers": [
    {
      "url": "https://development.ravan.ai"
    }
  ],
  "security": [
    {
      "X-Api-Key": []
    }
  ],
  "tags": [
    {
      "name": "AgentService"
    },
    {
      "name": "AgentToolService"
    },
    {
      "name": "WidgetSettingsService"
    },
    {
      "name": "PhoneService"
    }
  ],
  "paths": {
    "/api/v1/agents/{id}/": {
      "get": {
        "tags": [
          "AgentService"
        ],
        "summary": "Get Agent",
        "operationId": "GetAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AgentService"
        ],
        "summary": "Update Agent",
        "operationId": "UpdateAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentService"
        ],
        "summary": "Delete Agent",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/agents/": {
      "get": {
        "tags": [
          "AgentService"
        ],
        "summary": "List Agents",
        "operationId": "ListAgents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentService"
        ],
        "summary": "Create Agent",
        "operationId": "CreateAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{id}/status/": {
      "patch": {
        "tags": [
          "AgentService"
        ],
        "summary": "Update Agent Status",
        "operationId": "UpdateAgentStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/{id}/": {
      "get": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Get Agent Tool",
        "operationId": "GetAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentToolResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Update Agent Tool",
        "operationId": "UpdateAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentToolResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Delete Agent Tool",
        "operationId": "DeleteAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/tools/": {
      "get": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "List Agent Tools",
        "operationId": "ListAgentTools",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentToolsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Create Agent Tool",
        "operationId": "CreateAgentTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentToolResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget-settings/{id}/": {
      "get": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Get Widget Settings",
        "operationId": "GetWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWidgetSettingsResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Update Widget Settings",
        "operationId": "UpdateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWidgetSettingsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Deactivate Widget Settings",
        "operationId": "DeactivateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/widget-settings/": {
      "get": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "List Widget Settings",
        "operationId": "ListWidgetSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWidgetSettingsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Create Widget Settings",
        "operationId": "CreateWidgetSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWidgetSettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/available-numbers/{iso_country}/": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Available Numbers",
        "operationId": "ListAvailableNumbers",
        "parameters": [
          {
            "name": "iso_country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO country code (e.g. US, GB)"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results per page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Region filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAvailableNumbersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/buy/": {
      "post": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Buy Phone Number",
        "operationId": "BuyPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyPhoneNumberResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/{phone_number}/release/": {
      "delete": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Release Phone Number",
        "operationId": "ReleasePhoneNumber",
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The phone number to release (E.164 format, e.g. +12025551234)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleasePhoneNumberResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/list-phone-numbers/": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Purchased Numbers",
        "operationId": "ListPurchasedNumbers",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Region filter"
          },
          {
            "name": "iso_country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO country code filter"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPurchasedNumbersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/import/": {
      "post": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Import Phone Number",
        "operationId": "ImportPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPhoneNumberResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/create/telephony/": {
      "post": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Create Telephony Type",
        "operationId": "CreateTelephonyType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTelephonyTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTelephonyTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/twilio-owned-numbers/": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Twilio Owned Numbers",
        "operationId": "ListTwilioOwnedNumbers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTwilioOwnedNumbersResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Api-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "AgentStatus": {
        "type": "string",
        "enum": [
          "AGENT_STATUS_UNSPECIFIED",
          "AGENT_STATUS_ACTIVE",
          "AGENT_STATUS_INACTIVE"
        ],
        "description": "Status of the agent"
      },
      "BotPosition": {
        "type": "string",
        "enum": [
          "BOT_POSITION_UNSPECIFIED",
          "BOT_POSITION_BOTTOM_RIGHT",
          "BOT_POSITION_BOTTOM_LEFT",
          "BOT_POSITION_TOP_RIGHT",
          "BOT_POSITION_TOP_LEFT"
        ],
        "description": "Position of the bot widget on screen"
      },
      "Meta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of records"
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Page size limit"
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "description": "Pagination offset"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique agent ID"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization this agent belongs to"
          },
          "widget_settings_id": {
            "type": "string",
            "description": "Associated widget settings ID"
          },
          "name": {
            "type": "string",
            "description": "Internal name of the agent"
          },
          "agent_name": {
            "type": "string",
            "description": "Display name of the agent"
          },
          "status": {
            "$ref": "#/components/schemas/AgentStatus"
          },
          "model": {
            "type": "string",
            "description": "LLM model identifier"
          },
          "s2s_model": {
            "type": "string",
            "description": "Speech-to-speech model identifier"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID for TTS"
          },
          "temperature": {
            "type": "number",
            "format": "double",
            "description": "LLM temperature setting"
          },
          "reminder_trigger_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Milliseconds before sending a reminder"
          },
          "reminder_max_count": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of reminders to send"
          },
          "ambient_sound": {
            "type": "string",
            "description": "Ambient sound identifier"
          },
          "ambient_sound_volume": {
            "type": "number",
            "format": "double",
            "description": "Volume of ambient sound (0.0 - 1.0)"
          },
          "end_call_after_silence": {
            "type": "boolean",
            "description": "Whether to end the call after silence"
          },
          "max_call_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum call duration in milliseconds"
          },
          "ring_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Ring duration in milliseconds"
          },
          "enable_voicemail_detection": {
            "type": "boolean",
            "description": "Whether to enable voicemail detection"
          },
          "voicemail_message": {
            "type": "string",
            "description": "Message to leave on voicemail"
          },
          "voicemail_detection_timeout_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Voicemail detection timeout in milliseconds"
          },
          "ivr_options": {
            "type": "object",
            "description": "IVR (Interactive Voice Response) configuration"
          },
          "post_call_analysis_model": {
            "type": "string",
            "description": "Model to use for post-call analysis"
          },
          "analysis_summary_prompt": {
            "type": "string",
            "description": "Prompt used for generating call summary"
          },
          "selected_tools": {
            "type": "object",
            "description": "Tools selected for this agent"
          },
          "integrations": {
            "type": "object",
            "description": "Integration configuration"
          },
          "knowledge_base": {
            "type": "string",
            "description": "Knowledge base content or reference"
          },
          "begin_message": {
            "type": "string",
            "description": "Opening message spoken by the agent"
          },
          "start_speaker": {
            "type": "string",
            "description": "Who speaks first: agent or user"
          },
          "created_at": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp"
          }
        }
      },
      "GetAgentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "ListAgentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "widget_settings_id": {
            "type": "string",
            "description": "Associated widget settings ID"
          },
          "name": {
            "type": "string",
            "description": "Internal name of the agent"
          },
          "agent_name": {
            "type": "string",
            "description": "Display name of the agent"
          },
          "model": {
            "type": "string",
            "description": "LLM model identifier"
          },
          "s2s_model": {
            "type": "string",
            "description": "Speech-to-speech model identifier"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID for TTS"
          },
          "temperature": {
            "type": "number",
            "format": "double",
            "description": "LLM temperature setting"
          },
          "reminder_trigger_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Milliseconds before sending a reminder"
          },
          "reminder_max_count": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of reminders"
          },
          "ambient_sound": {
            "type": "string",
            "description": "Ambient sound identifier"
          },
          "ambient_sound_volume": {
            "type": "number",
            "format": "double",
            "description": "Volume of ambient sound (0.0 - 1.0)"
          },
          "end_call_after_silence": {
            "type": "boolean",
            "description": "Whether to end the call after silence"
          },
          "max_call_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum call duration in milliseconds"
          },
          "ring_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Ring duration in milliseconds"
          },
          "enable_voicemail_detection": {
            "type": "boolean",
            "description": "Enable voicemail detection"
          },
          "voicemail_message": {
            "type": "string",
            "description": "Message to leave on voicemail"
          },
          "voicemail_detection_timeout_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Voicemail detection timeout in milliseconds"
          },
          "ivr_options": {
            "type": "object",
            "description": "IVR configuration"
          },
          "post_call_analysis_model": {
            "type": "string",
            "description": "Model to use for post-call analysis"
          },
          "analysis_summary_prompt": {
            "type": "string",
            "description": "Prompt for generating call summary"
          },
          "selected_tools": {
            "type": "object",
            "description": "Tools to enable for this agent"
          },
          "integrations": {
            "type": "object",
            "description": "Integration configuration"
          },
          "knowledge_base": {
            "type": "string",
            "description": "Knowledge base content or reference"
          },
          "begin_message": {
            "type": "string",
            "description": "Opening message spoken by the agent"
          },
          "start_speaker": {
            "type": "string",
            "description": "Who speaks first: agent or user"
          }
        }
      },
      "CreateAgentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "widget_settings_id": {
            "type": "string",
            "description": "Associated widget settings ID"
          },
          "name": {
            "type": "string",
            "description": "Internal name of the agent"
          },
          "agent_name": {
            "type": "string",
            "description": "Display name of the agent"
          },
          "model": {
            "type": "string",
            "description": "LLM model identifier"
          },
          "s2s_model": {
            "type": "string",
            "description": "Speech-to-speech model identifier"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID for TTS"
          },
          "temperature": {
            "type": "number",
            "format": "double",
            "description": "LLM temperature setting"
          },
          "reminder_trigger_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Milliseconds before sending a reminder"
          },
          "reminder_max_count": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of reminders"
          },
          "ambient_sound": {
            "type": "string",
            "description": "Ambient sound identifier"
          },
          "ambient_sound_volume": {
            "type": "number",
            "format": "double",
            "description": "Volume of ambient sound (0.0 - 1.0)"
          },
          "end_call_after_silence": {
            "type": "boolean",
            "description": "Whether to end the call after silence"
          },
          "max_call_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum call duration in milliseconds"
          },
          "ring_duration_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Ring duration in milliseconds"
          },
          "enable_voicemail_detection": {
            "type": "boolean",
            "description": "Enable voicemail detection"
          },
          "voicemail_message": {
            "type": "string",
            "description": "Message to leave on voicemail"
          },
          "voicemail_detection_timeout_ms": {
            "type": "integer",
            "format": "int32",
            "description": "Voicemail detection timeout in milliseconds"
          },
          "ivr_options": {
            "type": "object",
            "description": "IVR configuration"
          },
          "post_call_analysis_model": {
            "type": "string",
            "description": "Model to use for post-call analysis"
          },
          "analysis_summary_prompt": {
            "type": "string",
            "description": "Prompt for generating call summary"
          },
          "selected_tools": {
            "type": "object",
            "description": "Tools enabled for this agent"
          },
          "integrations": {
            "type": "object",
            "description": "Integration configuration"
          },
          "knowledge_base": {
            "type": "string",
            "description": "Knowledge base content or reference"
          },
          "begin_message": {
            "type": "string",
            "description": "Opening message spoken by the agent"
          },
          "start_speaker": {
            "type": "string",
            "description": "Who speaks first: agent or user"
          }
        }
      },
      "UpdateAgentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "UpdateAgentStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/AgentStatus"
          }
        }
      },
      "UpdateAgentStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "AgentTool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique tool ID"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization this tool belongs to"
          },
          "name": {
            "type": "string",
            "description": "Tool name"
          },
          "description": {
            "type": "string",
            "description": "Tool description"
          },
          "type": {
            "type": "string",
            "description": "Tool type (e.g. webhook, function)"
          },
          "definition": {
            "type": "object",
            "description": "Tool definition schema"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the tool is active"
          }
        }
      },
      "GetAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AgentTool"
          }
        }
      },
      "ListAgentToolsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentTool"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "CreateAgentToolRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name"
          },
          "description": {
            "type": "string",
            "description": "Tool description"
          },
          "type": {
            "type": "string",
            "description": "Tool type (e.g. webhook, function)"
          },
          "definition": {
            "type": "object",
            "description": "Tool definition schema"
          }
        }
      },
      "CreateAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AgentTool"
          }
        }
      },
      "UpdateAgentToolRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name"
          },
          "description": {
            "type": "string",
            "description": "Tool description"
          },
          "type": {
            "type": "string",
            "description": "Tool type"
          },
          "definition": {
            "type": "object",
            "description": "Tool definition schema"
          }
        }
      },
      "UpdateAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AgentTool"
          }
        }
      },
      "WidgetSettings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique widget settings ID"
          },
          "bot_name": {
            "type": "string",
            "description": "Display name of the bot"
          },
          "bot_auto_start": {
            "type": "boolean",
            "description": "Whether the bot starts automatically"
          },
          "bot_position": {
            "$ref": "#/components/schemas/BotPosition"
          },
          "bot_logo": {
            "type": "string",
            "description": "URL of the bot logo image"
          },
          "svg_logo": {
            "type": "string",
            "description": "SVG logo content"
          },
          "custom_form_fields": {
            "type": "object",
            "description": "Custom form field configuration"
          },
          "theme": {
            "type": "object",
            "description": "Widget theme configuration"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g. en, fr)"
          },
          "consent_content": {
            "type": "string",
            "description": "Consent modal body text"
          },
          "consent_title": {
            "type": "string",
            "description": "Consent modal title"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether these widget settings are active"
          },
          "created_at": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp"
          }
        }
      },
      "GetWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WidgetSettings"
          }
        }
      },
      "ListWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WidgetSettings"
            }
          }
        }
      },
      "CreateWidgetSettingsRequest": {
        "type": "object",
        "properties": {
          "bot_name": {
            "type": "string",
            "description": "Display name of the bot"
          },
          "bot_auto_start": {
            "type": "boolean",
            "description": "Whether the bot starts automatically"
          },
          "bot_position": {
            "$ref": "#/components/schemas/BotPosition"
          },
          "bot_logo": {
            "type": "string",
            "description": "URL of the bot logo image"
          },
          "svg_logo": {
            "type": "string",
            "description": "SVG logo content"
          },
          "custom_form_fields": {
            "type": "object",
            "description": "Custom form field configuration"
          },
          "theme": {
            "type": "object",
            "description": "Widget theme configuration"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g. en, fr)"
          },
          "consent_content": {
            "type": "string",
            "description": "Consent modal body text"
          },
          "consent_title": {
            "type": "string",
            "description": "Consent modal title"
          }
        }
      },
      "CreateWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WidgetSettings"
          }
        }
      },
      "UpdateWidgetSettingsRequest": {
        "type": "object",
        "properties": {
          "bot_name": {
            "type": "string",
            "description": "Display name of the bot"
          },
          "bot_auto_start": {
            "type": "boolean",
            "description": "Whether the bot starts automatically"
          },
          "bot_position": {
            "$ref": "#/components/schemas/BotPosition"
          },
          "bot_logo": {
            "type": "string",
            "description": "URL of the bot logo image"
          },
          "svg_logo": {
            "type": "string",
            "description": "SVG logo content"
          },
          "custom_form_fields": {
            "type": "object",
            "description": "Custom form field configuration"
          },
          "theme": {
            "type": "object",
            "description": "Widget theme configuration"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g. en, fr)"
          },
          "consent_content": {
            "type": "string",
            "description": "Consent modal body text"
          },
          "consent_title": {
            "type": "string",
            "description": "Consent modal title"
          }
        }
      },
      "UpdateWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WidgetSettings"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "iso_country": {
            "type": "string",
            "description": "ISO country code"
          },
          "phone_number": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "price": {
            "type": "integer",
            "format": "int32",
            "description": "Monthly cost of the number"
          },
          "per_minute_price_outbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute price for outbound calls"
          },
          "per_minute_price_inbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute price for inbound calls"
          }
        }
      },
      "ListAvailableNumbersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          }
        }
      },
      "BuyPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Phone number to purchase (E.164 format)"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Purchase price"
          },
          "per_minute_price_inbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute inbound call price"
          },
          "per_minute_price_outbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute outbound call price"
          }
        }
      },
      "PurchasedPhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "The purchased phone number"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Price paid"
          },
          "status": {
            "type": "string",
            "description": "Purchase status"
          },
          "purchased_at": {
            "type": "string",
            "description": "Timestamp of purchase"
          }
        }
      },
      "BuyPhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PurchasedPhoneNumber"
          }
        }
      },
      "ReleasePhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "phone_number": {
                "type": "string",
                "description": "The released phone number"
              },
              "status": {
                "type": "string",
                "description": "Release status"
              },
              "released_at": {
                "type": "string",
                "description": "Timestamp of release"
              }
            }
          }
        }
      },
      "PurchasedNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record ID"
          },
          "telephony_id": {
            "type": "string",
            "description": "Associated telephony ID"
          },
          "subscription_id": {
            "type": "string",
            "description": "Associated subscription ID"
          },
          "inbound_trunk_id": {
            "type": "string",
            "description": "Inbound SIP trunk ID"
          },
          "outbound_trunk_id": {
            "type": "string",
            "description": "Outbound SIP trunk ID"
          },
          "number": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "friendly_name": {
            "type": "string",
            "description": "Human-readable label"
          },
          "per_minute_price_inbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute inbound price"
          },
          "per_minute_price_outbound": {
            "type": "integer",
            "format": "int32",
            "description": "Per-minute outbound price"
          },
          "price": {
            "type": "integer",
            "format": "int32",
            "description": "Monthly price"
          },
          "region": {
            "type": "string",
            "description": "Region"
          },
          "iso_country": {
            "type": "string",
            "description": "ISO country code"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the number is active"
          },
          "created_at": {
            "type": "string",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp"
          }
        }
      },
      "ListPurchasedNumbersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchasedNumber"
            }
          }
        }
      },
      "ImportPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number to import (E.164 format)"
          },
          "type": {
            "type": "string",
            "description": "Type of phone number (e.g. sip, pstn)"
          },
          "name": {
            "type": "string",
            "description": "Friendly name for the number"
          },
          "termination_uri": {
            "type": "string",
            "description": "SIP termination URI"
          },
          "sip_username": {
            "type": "string",
            "description": "SIP username for authentication"
          },
          "sip_password": {
            "type": "string",
            "description": "SIP password for authentication"
          }
        }
      },
      "ImportPhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "termination_uri": {
                "type": "string"
              },
              "sip_username": {
                "type": "string"
              },
              "sip_password": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateTelephonyTypeRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Telephony provider type (e.g. twilio, vonage)"
          },
          "owner_type": {
            "type": "string",
            "description": "Owner type (e.g. organization, user)"
          },
          "friendly_name": {
            "type": "string",
            "description": "Human-readable label for this telephony config"
          },
          "client_id": {
            "type": "string",
            "description": "Provider client/account ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Provider client secret or auth token"
          }
        }
      },
      "CreateTelephonyTypeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "owner_type": {
                "type": "string"
              },
              "friendly_name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "termination_uri": {
                "type": "string"
              },
              "sip_username": {
                "type": "string"
              },
              "sip_password": {
                "type": "string"
              }
            }
          }
        }
      },
      "ListTwilioOwnedNumbersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sid": {
                  "type": "string",
                  "description": "Twilio SID"
                },
                "phone_number": {
                  "type": "string",
                  "description": "Phone number in E.164 format"
                },
                "friendly_name": {
                  "type": "string",
                  "description": "Friendly label"
                },
                "status": {
                  "type": "string",
                  "description": "Number status"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date created in Twilio"
                },
                "voice": {
                  "type": "boolean",
                  "description": "Voice capability enabled"
                },
                "sms": {
                  "type": "boolean",
                  "description": "SMS capability enabled"
                },
                "mms": {
                  "type": "boolean",
                  "description": "MMS capability enabled"
                }
              }
            }
          }
        }
      }
    }
  }
}
